.table {
    border-collapse: collapse;
    margin-top: 1rem;
}

.table td {
    vertical-align: middle;
}

.table tr.dead td {
    text-decoration: line-through;
    color: gray;
}

.table tr.dead .controls button {
    display: none;
}

.table tr.dead .controls .btn-kill,
.table tr.used-ring td,
.table.used-ring .controls .btn-usering {
    display: none;
}